<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @purchase_order.link %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @purchase_order.notas %>
</p>

<p>
  <strong>Numero order:</strong>
  <%= @purchase_order.numero_order %>
</p>

<p>
  <strong>Costo total:</strong>
  <%= @purchase_order.costo_total %>
</p>

<p>
  <strong>Tipo de pago:</strong>
  <%= @purchase_order.tipo_de_pago %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @purchase_order.cliente %>
</p>

<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
