<!DOCTYPE html>
<html>
<head>
  <title>OrdenesMarcasy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to('Admin Log Out', destroy_admin_session_path, method: :delete, class: "log-out") %>
  <%= link_to('Cliente Log Out', destroy_cliente_session_path, method: :delete, class: "log-out") %>

<%= yield %>


</body>
</html>
